<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sample App</title>
<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<div class="box">
		<h1>アカウント登録</h1>
		<form role="form" id="login" th:action="@{/registerStudent}" method="post">
			<p>ユーザID</p>
			<p th:text="${error}"></p>
			<input type="text" id="username" name="username" value=""/>
			<p>パスワード</p>
			<input type="password" id="password" name="password" value=""/><br />
			<button type="submit">登録</button>
		</form>
	</div>
</body>
</html>